<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel Tests" verbose="1">
  <test name="Test">
    <classes>
      <class name="test.java.com.mn.insta.test.TestDriver_ApplicationName"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
